{{> head}}
<!-- Body -->
    {{> navbar }}

    <div class="row p-5">
        <div class="col-md-6">
            <p>Este es un texto</p>
        </div>
        <div class="col-md-6">
            <img class="img-thumbnail" src="./assets/img/farma.jpg">
        </div>
    </div>
    
    {{> footer}}